.weather-day-container {
    border: 1px solid grey;
    border-radius: 10px;
}

td{
    padding: 5px 0px;
}

.flex {
    display: flex;
}

.weather-type {
    border-right: 1px solid grey;
}

img.weather-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.reliability {
    border: 1px solid #5d5d5d;
    font-weight: bold;
    color: #5d5d5d;
    padding: 2px 5px;
    border-radius: 100px;
}

.bold {
    font-weight: bold;
}